@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*----------------------------------------------------------------------------------
Reset
----------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body,html{
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    background: #F5F9FF;
}
img{
    object-fit: cover;
}
/*----------------------------------------------------------------------------------
Colors
----------------------------------------------------------------------------------*/
:root{
    --white:#fff;
    --primary:#093D9F;
    --main:#0C1A3D;
    --sub:#6B7B99;
}
/*----------------------------------------------------------------------------------
Global Css
----------------------------------------------------------------------------------*/
.select{
    position: relative;
}
.select .selectmainarea{
    display: flex;
    align-items: center;
}
.select button{
    background: transparent;
    border: none;
    outline: none;
}
.select  p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


/* white */

color: var(--white);
}
.select .selectmainarea i{
    color: var(--white);
    margin-left: 5px;
    font-size: 12px;
}
.select img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}
.select .selectdownmenu{
    position: absolute;
    top: 130%;
    left: 0;
    border: 1px solid var(--main);
    background: var(--main);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
}
.select .selectdownmenu.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.select .selectdownmenu ul{
    margin: 0;
    padding: 0;
}
.select .selectdownmenu ul li{

    transition: all 300ms;
}
.select .selectdownmenu ul li:hover{
    background: var(--primary);
}
.select .selectdownmenu ul li .item{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}
.btnstyle1{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    color: var(--primary);
    text-decoration: none;
    border-radius: 4px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}
.btnstyle1 i{
    margin-right: 10px;
}
.btnstyle1.btnstyleprimary{
    background: var(--primary);
    color: var(--white);
}
.btnstyle1.btnstyleborder{
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}
.sectiontitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sectiontitle h2{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 28px;
/* identical to box height, or 100% */

text-align: center;

/* primary */
color: var(--main);
}
.sectiontitle h2 span{
    color:var(--primary);

}
.sectiontitle p{
    margin: 0;
    padding: 0;
    margin-top: 16px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

/* sub */

color: var(--sub);
}
.sectiontitle .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectiontitle .buttons a{
    margin: 0 10px;
}
.sectiontitle a{
    padding: 15px 40px;
    margin-top: 32px;
}
/*----------------------------------------------------------------------------------
Header
----------------------------------------------------------------------------------*/

header{
padding: 30px 0;
background: var(--primary);
}
.DekstopNavTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DekstopNavTop .left{
    display: flex;
    align-items: center;
}
.DekstopNavTop .left .comunication button{
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


/* white */

color: var(--white);
}
.DekstopNavTop .left .comunication button svg{
    margin-right: 9px;
}
.DekstopNavTop .left .comunication button i{
    margin-left: 4px;
}

.DekstopNavTop .left .socialmedias{
    margin-left: 45px;
}
.DekstopNavTop .left .socialmedias ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.DekstopNavTop .left .socialmedias ul li{
    margin: 0 7px;
}
.DekstopNavTop .left .socialmedias ul li a{
    color: white;
    opacity: .6;
    transition: all 300ms;
}
.DekstopNavTop .left .socialmedias ul li a:hover{
    opacity: 1;
}

.DekstopNavTop  .right{
    display: flex;
    align-items: center;
}
.DekstopNavTop  .right .currency ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.DekstopNavTop  .right .currency ul li{
    margin: 0 5px;
    width: 20px;
height: 20px;
border-radius: 4px;
}
.DekstopNavTop  .right .currency ul li button{
    background: transparent;
    border:none;
    outline: none;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}
.DekstopNavTop  .right .currency ul li button.active{
    background: var(--white);
    color: var(--primary);
}
.DekstopNavTop .select{
    margin: 0 40px;
}
.DekstopNavTop .right .searchdiv{
    display: flex;
    align-items: center;
}
.DekstopNavTop .right .searchdiv button,
.DekstopNavTop .right .searchdiv input{
    background: transparent;
    border: none;
    outline: none;
    color: var(--white);
}
.DekstopNavTop .right .searchdiv input{
    width: 110px;
}
.DekstopNavTop .right .searchdiv button{
    margin-right: 9px;
}

.DekstopNavTop .right .searchdiv input::placeholder{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 12px;
/* identical to box height, or 100% */


/* white */

color: var(--white);
}

.DekstopNavBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.DekstopNavBottom .navtext ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DekstopNavBottom .navtext ul li{
    margin: 0 7px;
}
.DekstopNavBottom .navtext ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */


/* white */

color: var(--white);
}
.DekstopNavBottom .navtext ul li a i{
    margin-left: 4px;
}
.DekstopNavBottom .account a{
    padding: 13px 12px; 
}
/*----------------------------------------------------------------------------------
Banner
----------------------------------------------------------------------------------*/
.banner{
    position: relative;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: var(--primary);
    z-index: 1;
}
.bannercontent{
    position: relative;
}
.bannercontent .bannerslider{
    position: relative;
}
.bannercontent .owl-dots{
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
}
.bannercontent .owl-dots .owl-dot span{
    width: 12px;
height: 6px;
background: var(--white) !important;
opacity: 0.4;
border-radius: 2px;
transition: all 300ms;
}
.bannercontent .owl-dots .owl-dot.active span{
    width: 24px;
    border-radius: 2px;
    opacity: 1;
    transition: all 300ms;
}
.bannercontent .owl-nav{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.bannercontent .owl-nav button{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 48px;
height: 48px;
background: var(--white) !important;
color: var(--primary) !important;
border-radius: 4px !important;
}
.bannercontent .item{
    background-image: url(../img/Group\ 36.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 8px;

}
.bannercontent .item .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bannercontent .item .content h2{
    margin: 0;
    padding: 0;
    margin-top: 16px;
    font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 32px;
/* identical to box height, or 100% */


/* white */

color: var(--white);
}
.bannercontent .item .content  p{
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 24px;
    width: 642px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;

/* white */

color: #FFFFFF;

opacity: 0.8;
}
.bannercontent .item .content .btnstyle1.btnstyleborder{
    padding: 12px 15px;
}
.bannercontent .item .content .btnstyle1.btnstyle1.btnstyleprimary{
    padding: 20px;
}
.bannercontent .bannerbottom{
    height: 88px;
    width: 95%;
    /* white */

background: var(--white);
/* shadow-%4 */

box-shadow: 0px 10px 48px rgba(0, 0, 0, 0.04);
border-radius: 8px;
position: absolute;
left: 50%;
bottom: -10%;
transform: translateX(-50%);
z-index: 100;
}
.bannercontent .bannerbottom .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
}
.bannercontent .bannerbottom .content .bottomitem{
    width: 19%;
    position: relative;
    padding: 16px;
}
.bannercontent .bannerbottom .content .bottomitem::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 56px;
    background: var(--sub);
    opacity: .2;
}
.bannercontent .bannerbottom .content .bottomitem:nth-child(5)::after{
    display: none;
}
.bannercontent .bannerbottom .content .bottomitem:last-child{
    width: auto;
    padding: 0;
}
.bannercontent .bannerbottom .content .bottomitem:last-child::after{
    display: none;
}
.bannercontent .bannerbottom .content .bottomitem h3{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */


/* main */

color: #0C1A3D;
}
.bannercontent .bannerbottom .content .bottomitem .botomcontent{
    display: flex;
    align-items: center;
    margin-top: 13px;
    width: 100%;
}
.bannercontent .bannerbottom .content .bottomitem .botomcontent svg{
    margin-right: 10px;
}
.bannercontent .bannerbottom .content .bottomitem .botomcontent .selectdiv{
    width: 100%;
}
.bannercontent .bannerbottom .content .bottomitem .botomcontent .selectdiv select{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* sub */

color: var(--sub);
}
.bannercontent .bannerbottom .content .bottomitem button{
    padding: 19px 25px;
}
/*----------------------------------------------------------------------------------
Recomended Properties
----------------------------------------------------------------------------------*/
.recomendedproperties{
    margin-top: 100px;
}
.recomendedproperties .sectiontitle p{
    width: 720px;
}
.filter{
    margin-top: 32px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.filter .filtertarget ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

height: 64px;
    /* sub */

background: #E7ECF5;

border-radius: 8px;
}
.filter .filtertarget ul li{
    padding: 8px;
}
.filter .filtertarget ul li button{
    background: transparent;
    border: none;
    outline: none;
    font-style: normal;
font-weight: normal;
width: 88px;
height: 48px;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */

text-align: center;

/* sub */

color: var(--sub);
}
.filter .filtertarget ul li button.active{
    background: #093D9F;
border-radius: 4px;
color: var(--white);
}
.filter .filtercontents{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.filter .filtercontents .item{
    max-width: 286px;
    /* page-background */

background: #F5F9FF;
/* sub-stroke */

border: 1px solid rgba(107, 123, 153, 0.2);
box-sizing: border-box;
border-radius: 8px;
transition: all 300ms;
margin: 0 5px;
}
.filter .filtercontents .item:hover{
    background: var(--white);
}
.filter .filtercontents .item .imgdiv{
    width: 100%;
    height: 215px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    position: relative;
}
.filter .filtercontents .item .imgdiv img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
}
.filter .filtercontents .item .imgdiv .menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.filter .filtercontents .item .imgdiv .menu p{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
height: 40px;
    background: rgba(12, 26, 61, 0.2);
backdrop-filter: blur(24px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 4px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

text-align: center;

/* white */

color: var(--white);
}
.filter .filtercontents .item .imgdiv .menu button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
height: 40px;
background: var(--white);
border-radius: 4px;
color: var(--primary);
}
.filter .filtercontents .item .imgdiv .menu button.active{
    background: var(--primary);
    color: var(--white);
}
.filter .filtercontents .item .textdiv{
    padding: 16px;
}
.filter .filtercontents .item .textdiv .toptext{
    padding-bottom: 16px;
}
.filter .filtercontents .item .textdiv .toptext .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter .filtercontents .item .textdiv .toptext .top h4{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */


/* primary */

color: var(--primary);
}
.filter .filtercontents .item .textdiv .toptext .top p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */


/* main */

color: var(--main);
}
.filter .filtercontents .item .textdiv .toptext .top p i{
    color: var(--primary);
    margin-right: 6px;
}
.filter .filtercontents .item .textdiv .toptext h3{
    margin: 0;
    padding: 0;
    margin: 10px 0;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* main */

color: var(--main);
}
.filter .filtercontents .item .textdiv .toptext p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
/* or 167% */


/* sub */

color: var(--sub);
}
.filter .filtercontents .item .textdiv .bottomtexts{
    padding-top: 16px;
    border-top: 1px solid rgba(107, 123, 153, 0.2);
}
.filter .filtercontents .item .textdiv .bottomtexts .texts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter .filtercontents .item .textdiv .bottomtexts .texts div h4{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */


/* main */

color: var(--main);
}
.filter .filtercontents .item .textdiv .bottomtexts .texts div h4 svg{
    margin-right: 4.5px;
}
.filter .filtercontents .item .textdiv .bottomtexts .texts div p{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


/* sub */

color: var(--sub);
}
.filter .filtercontents .item .textdiv .bottomtexts a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    position: relative;
    color: var(--primary);
    transition: all 300ms;
    margin-top: 16px;
}
.filter .filtercontents .item .textdiv .bottomtexts a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: .1;
    border-radius: 4px;
}
.filter .filtercontents .item .textdiv .bottomtexts a:hover{
    background: var(--primary);
    color: var(--white);
}
.filter .filtercontents .item .textdiv .bottomtexts a:hover::after{
    visibility: hidden;
    opacity: 0;
}
/*----------------------------------------------------------------------------------
Investments
----------------------------------------------------------------------------------*/
.investments{
    padding: 88px 0;
    background: var(--white);
}
.investments .sectiontitle p{
    width: 1028px;
}
.investmentssliderdiv {
    margin-top: 32px;
}
.investmentssliderdiv .owl-dot span{
    width: 12px !important;
height: 6px !important;
    /* sub */

background: #6B7B99 !important;
opacity: 0.4;
border-radius: 2px;
transition: all 300ms;
}
.investmentssliderdiv .owl-dot.active span{
    width: 24px !important;
    background: #093D9F !important;
border-radius: 2px;
transition: all 300ms;
opacity: 1;
}
.investmentssliderdiv .item{
    background: #FFFFFF;
/* sub-stroke */

border: 1px solid rgba(107, 123, 153, 0.2);
box-sizing: border-box;
border-radius: 8px;
padding: 24px;
}
.investmentssliderdiv .item svg{
    width: 46px;
    height: 46px;
}   
.investmentssliderdiv .item h3{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 16px;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */


/* main */

color: var(--main);
}
.investmentssliderdiv .item p{
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* sub */

color: var(--sub);

}
.investmentssliderdiv .item a{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* primary */

color: var(--primary);
text-decoration: none;
}
.investmentssliderdiv .item a i{
    margin-left: 10px;
}
/*----------------------------------------------------------------------------------
Testimonials
----------------------------------------------------------------------------------*/
.testimonials{
    padding: 50px 0;
}
.testimonials .sectiontitle p{
    width: 720px;
}
.testimonialssliderdiv{
    margin-top: 40px;
}
.testimonialssliderdiv .owl-dot span{
    width: 12px !important;
height: 6px !important;
    /* sub */

background: #6B7B99 !important;
opacity: 0.4;
border-radius: 2px;
transition: all 300ms;
}
.testimonialssliderdiv .owl-dot.active span{
    width: 24px !important;
    background: #093D9F !important;
border-radius: 2px;
transition: all 300ms;
opacity: 1;
}
.testimonialssliderdiv .item{
    /* white */

    background: #FFFFFF;
    border-radius: 4px;
    padding: 25px;
}
.testimonialssliderdiv .item .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonialssliderdiv .item .top .rate i{
    color: orange;
}
.testimonialssliderdiv .item .top .rate p{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */

text-align: center;

/* primary */

color: var(--primary);
}
.testimonialssliderdiv .item h3{
    margin: 0;
    padding: 0;
    margin-top: 16px;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */


/* main */

color: var(--main);
}
.testimonialssliderdiv .item p{
    margin: 16px 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* sub */

color: var(--sub);
}
.testimonialssliderdiv .item .profile{
    display: flex;
    align-items: center;
}
.testimonialssliderdiv .item .profile .imgdiv{
    width: 48px;
height: 48px;
border-radius: 50%;
overflow: hidden;
margin-right: 12px;
}

.testimonialssliderdiv .item .profile .imgdiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.testimonialssliderdiv .item .profile .text h3{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* main */

color: var(--main);
}
.testimonialssliderdiv .item .profile .text p{
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */


/* sub */

color: var(--sub);
}
/*----------------------------------------------------------------------------------
Prorees Tv
----------------------------------------------------------------------------------*/
.proreestv{
    padding: 20px 0;
}
.proreestv .sectiontitle .buttons{
    margin: 32px 0;
}
.proreestv .sectiontitle .buttons a:nth-child(2){
    border-color: var(--primary);
    color: var(--primary);
}
.proreestv .sectiontitle .buttons a:nth-child(1){
    position: relative;
}
.proreestv .sectiontitle .buttons a:nth-child(1)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary);
    /* primary */

opacity: 0.1;
border-radius: 4px;
    width: 100%;
    height: 100%;
}
.proreestvdiv .owl-dot span{
    width: 12px !important;
height: 6px !important;
    /* sub */

background: #6B7B99 !important;
opacity: 0.4;
border-radius: 2px;
transition: all 300ms;
}
.proreestvdiv .owl-dot.active span{
    width: 24px !important;
    background: #093D9F !important;
border-radius: 2px;
transition: all 300ms;
opacity: 1;
}
.proreestvdiv .owl-item .item{
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.proreestvdiv .owl-item.active .item{
    justify-content: flex-start;
}
.proreestvdiv .owl-item.active.center .item{
    justify-content: center;
}
.proreestvdiv .owl-item .content{
    transition: all 300ms;
    width:60%;
}
.proreestvdiv .owl-item.active.center .content{
    width: 100%;
}
.proreestvdiv .owl-item.active.center .content .textdiv{
    transition: all 300ms;
    background: var(--primary);
}
.proreestvdiv .owl-item.active.center .content .textdiv p{
    transition: all 300ms;
    color: var(--white);
}
.proreestvdiv .imgdiv{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;

}
.proreestvdiv .imgdiv button{
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 64px;
    height: 64px;
    background: var(--sub);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 100;
}
.proreestvdiv .owl-item.active.center .imgdiv button {
    background: var(--white);
    color: var(--primary);
}
.proreestvdiv .imgdiv::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main);
    opacity: 0.7;
    border-radius: 4px 4px 0px 0px;

}
.proreestvdiv .imgdiv img{
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;

}
.proreestvdiv .textdiv{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 0 0 4px 4px;
}
.proreestvdiv .textdiv p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

text-align: center;

/* main */

color: var(--main);
}
/*----------------------------------------------------------------------------------
Specials
----------------------------------------------------------------------------------*/
.Specials{
    background: var(--primary);
}
.topsection .col-lg-6 .content{
    background: var(--white);
}
/*----------------------------------------------------------------------------------
Header
----------------------------------------------------------------------------------*/